// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "~bootstrap/scss/bootstrap";

// Personalizadas
@import "/custom-css/header.scss";
@import "/custom-css/colores.scss";
@import "/custom-css/tipografias.scss";
@import "/owl-carousel/owl-carousel.scss";
@import "/owl-carousel/owl-theme.scss";

body{
    background: $gris-claro !important;
    font-family: $fuente-principal !important;
}

.texto-claro{
    color:white;
}

.texto-oscuro{
    color: balck;
}

.destacar{
    border: 1px solid red;
    box-sizing: border-box;
}

.barra-bajada{
    margin-top: -10%;
    z-index: 2;
}

.cover{
    object-fit: cover;
}